body
{
    margin: 0;
    font-family:fantasy;
}

:root
{
    --background-color: aqua;
     
}

nav
{
    background-color: var(--background-color);
    padding: 2rem;
}

.nav-pills
{
    text-align: center;
    font-size: larger;
}

h1
{
    margin: 1rem;
}

p
{
    margin: 1rem;
}
hr
{
    max-width: 90%;
}

footer
{
    padding: 2rem;
    background-color: var(--background-color);
    position: fixed;
    bottom: 0;
}

.about
{
    text-align: center;
    font-size: larger;
    
}